DATABASE_NAME=codechecker1
DATABASE_USER=webadmin
DATABASE_PASSWORD=XXXXXx
DATABASE_HOST=XXXXX.j.layershift.co.uk
DATABASE_PORT=5432
DATABASE_ENGINE=django.db.backends.postgresql
#The ips that are allowed to access sections of teh site no matter if they are added into the allowed ip or not. 
MASTER_IPS=XXXX

#Django configuration for allowed hosts
ALLOWED_HOSTS=['185.149.110.166','localhost','dontdeletezoltan.man-1.solus.stage.town']
# Zulip notification configuration
NOTIFICATION_URL=zulip://warehouse-bot@layershift.zulipchat.com/XXXXX/tutorial-kuly
ZULIP_SUBJECT=""
# Remote uploader configuration
REMOTE_UPLOADER_ENABLED=true
REMOTE_UPLOADER_URL=https://dont-delete-uploader.man-1.solus.stage.town